@font-face {
  font-family: "Trip Sans Regular";
  src: url("../fonts/TripSans-Regular.eot");
  src: url("../fonts/TripSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TripSans-Regular.woff2") format("woff2"),
    url("../fonts/TripSans-Regular.woff") format("woff"),
    url("../fonts/TripSans-Regular.ttf") format("truetype"),
    url("../fonts//TripSans-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Trip Sans Medium";
  src: url("../fonts/TripSans-Medium.eot");
  src: url("..fonts/TripSans-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TripSans-Medium.woff2") format("woff2"),
    url("../fonts//TripSans-Medium.woff") format("woff"),
    url("../fonts/TripSans-Medium.ttf") format("truetype"),
    url("../fonts/TripSans-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Trip Sans Regular";
}

/* background: lavender; */

header {
  display: flex;
  justify-content: space-between;
}

header img {
  width: 200px;
}

.primary-nav {
  display: flex;
  align-items: center;
  gap: 15px;

  font-family: "Trip Sans Medium";
}

.primary-nav .menu-item {
  padding: 15px;
}

.primary-nav button {
  font-size: 14px;
  background: black;
  color: white;
  padding: 15px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  margin-right: 5px;
}
.search {
  border: solid grey 1px;
  border-radius: 20px;
  width: 318px;
  height: 38px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5px;
}
.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-block h1 {
  font-size: 50px;
  font-family: "Trip Sans Medium";
}
.first-block span {
  color: red;
}
.first-block p {
  font-size: 10px;
  font-family: "Trip Sans Medium";
}
.secondary-nav {
  display: flex;

  justify-content: space-between;
}
.secondary-nav .menu-item {
  border: solid 1px black;
  border-radius: 10px;
  width: 179px;
  margin-right: 5px;
  margin-top: 30px;
  height: 50px;
  padding-top: 22px;
  padding-left: 17px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}
.images {
  /* background: salmon; */
  margin-top: 50px;
  height: 400px;
  display: flex;
  gap: 2px;
}

.images .left {
  flex: 4;
  /* background: blue; */
  background-image: url("../img/quai.jpg");
}

.images .right {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.images .right-top {
  /* background: green; */
  background-image: url("../img/moto.jpg");

  flex: 1;
}

.images .right-bottom {
  /* background: yellow; */
  background-image: url("../img/eiffeltower.jpg");
  flex: 1;
}

.images .center-background {
  background-size: cover;
}
.presentation {
  width: 50%;
  padding-top: 50px;
}
h2 {
  font-family: "Trip Sans Medium";
  font-size: 24px;
  padding-top: 40px;
  padding-bottom: 10px;
}
.presentation p {
  padding-top: 10px;
}

carousel-main-title {
  font-family: "Trip Sans Medium";
  font-size: 34px;
  margin: 20px 0;
}

.carousel {
  height: 300px;
  display: flex;
}

.carousel-title {
  flex: 1;
}
.main-title {
  font-family: Trip Sans Medium;
  font-size: 20px;
}
.note {
  color: grey;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.note a {
  margin-top: 5px;
  color: gray;
}

.carousel-scroll {
  flex: 3;
  display: flex;
  overflow-x: scroll;
  gap: 15px;
}
.carousel-scroll-item {
  flex: calc((100% / 3) - 10px);
  flex-shrink: 0;
}

.img-container {
  height: 60%;
  position: relative;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-container .absolute {
  position: absolute;
  top: 10px;
  right: 10px;
  color: red;
  font-size: 30px;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.img-container .top-activity {
  position: relative;
  bottom: 70px;
  left: 10px;
  width: 50px;
  height: 50px;
  background: orange;
}
.img-container .top-activity2 {
  position: relative;
  bottom: 70px;
  left: 10px;
  width: 50px;
  height: 50px;
  background: green;
}
.container {
  height: 100%;
  width: 1024px;
  margin: auto;
  background: red;
}

@media (min-width: 576px) {
  .container {
    background: blue;
  }
  .search {
    display: none;
  }
}
@media (min-width: 768px) {
  .container {
    background: purple;
  }
}
@media (min-width: 992px) {
  .container {
    background: yellow;
  }
}
@media (min-width: 1200px) {
  .container {
    background: green;
  }
}
@media (min-width: 1400px) {
  .container {
    background: pink;
  }
}
